@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050510;
  overflow: hidden;
  touch-action: none;
  color: white;
}

canvas {
  display: block;
}
